.main {
  flex-direction: column;
  height: 100vh;
  background-color: #003640;
  margin-left: 195px;
}

#events-title-header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2em;
  width: 100%;
}

#events-title-header h1 {
  display: flex;
  margin: 0;
  padding: 20px 0 20px 0;
}

.events-messages-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #006d82;
  overflow-y: scroll;
}
.event-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  margin: 20px;
  padding: 8px 16px 8px 16px;
  min-height: min-content;
}

.event-container * {
  padding-left: 5px;
  padding-bottom: 5px;
}

.event-header {
  font-weight: 700;
  display: flex;
  width: 100%;
}

.event-message-text {
  font-weight: 300;
  flex: 1;
}

.remove-message-button {
  display: none;
}

.filler-events {
  flex: 50;
}

#events-message-input-container {
  padding: 8px;
  display: none;
  flex-direction: column;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  background-color: #003640;
  width: calc(100vw - 214px);
}

#events-title-and-submit-container {
  display: flex;
  margin-bottom: 8px;
}

#events-message-input-container button {
  flex: 1;
  background-color: #f0f0f0;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  border: 1.5px solid #111;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-left: 8px;
}

#events-message-input-container button:hover {
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
}

#events-title-input {
  flex: 12;
  border: 2px solid #111;
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

#events-body-input {
  flex: 12;
  border: 2px solid #111;
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    margin-left: 143px;
  }

  #events-title-header {
    font-size: 1.5em;
  }

  #events-title-header h1 {
    padding: 16px 0 16px 0;
  }

  .events-messages-container {
    padding-top: 16px;
  }

  .event-container {
    font-size: 1.2em;
  }

  .event-container * {
    padding-left: 4px;
    padding-bottom: 4px;
  }

  #events-message-input-container {
    width: calc(100% - 10px);
    padding: 4px;
  }

  #events-title-and-submit-container {
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .main {
    margin: 0;
    height: calc(100vh - 64px);
  }

  #events-title-header {
    display: none;
    /* font-size: 1.2em; */
  }

  #events-title-header h1 {
    /* padding: 12px 0 12px 0; */
  }

  .events-messages-container {
    padding-top: 12px;
  }

  .event-container {
    font-size: 1em;
    padding: 4px 8px 4px 8px;
  }

  .event-container * {
    padding-left: 3px;
    padding-bottom: 3px;
  }

  #events-message-input-container {
    width: calc(100% - 8px);
    padding: 2px;
  }

  #events-title-and-submit-container {
    margin-bottom: 2px;
  }

  #events-message-input-container button {
    display: none;
  }
}

@media screen and (max-width: 424px) {
  .main {
    margin: 0;
    height: calc(100vh - 64px);
  }

  #events-title-header {
    font-size: 1em;
  }

  #events-title-header h1 {
    padding: 8px 0 8px 0;
  }

  .events-messages-container {
    padding-top: 8px;
  }

  .event-container {
    font-size: 0.8em;
    padding: 4px 4px 4px 4px;
  }

  .event-container * {
    padding-left: 2px;
    padding-bottom: 2px;
  }

  #events-message-input-container {
    width: calc(100% - 8px);
    padding: 2px;
  }

  #events-title-and-submit-container {
    margin-bottom: 2px;
  }

  #events-message-input-container button {
    display: none;
  }

  #events-title-header {
    display: none;
  }
}
