.main {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #003640;
    margin-left: 195px;
}

#events-title-header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 100%;
}

#events-title-header h1 {
    display: flex;
    margin: 0;
    padding: 20px 0 20px 0;
    text-decoration: underline;
}

.events-messages-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #006D82;
    padding-top: 20px;
}
.events-container {
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.5em;
    padding: 8px 16px 8px 16px;
}

.events-container * {
    padding-left: 5px;
    padding-bottom: 5px;
}

.events-message-text {
    font-weight: 200;
    flex: 1;
}

.filler-events {
    flex: 50;
}

#events-message-input-container {
    padding: 8px;
    display: none;
    flex-direction: row;
    border-top: 1.5px solid black;
    border-left: 1.5px solid black;
    background-color: #003640;
    width: calc(100vw - 214px);
}

#events-message-input-container button{
    flex: 1;
    background-color: #f0f0f0;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border: 1.5px solid #111;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-left: 8px;
}

#events-message-input-container button:hover{
    left: 0;
    background-color: rgba(255,255,255,.3);
    color: white;
    border-color: rgba(255,255,255,.3);
}

#events-title-input {
    flex: 12;
    border: 2px solid #111;
    border-radius: 4px;
    padding: 4px;
    outline: none;
}

#events-body-input {
    flex: 12;
    border: 2px solid #111;
    border-radius: 4px;
    padding: 4px;
    outline: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px){

    .main {
        margin-left: 143px;
    }

    #events-title-header {
        font-size: 1.5em;
    }
    
    #events-title-header h1 {
        padding: 16px 0 16px 0;
    }

    .events-messages-container {
        padding-top: 16px;
    }
    
    .events-container {
        font-size: 1.2em;
    }
    
    .events-container * {
        padding-left: 4px;
        padding-bottom: 4px;
    }

    #events-message-input-container {
        width: calc(100% - 10px);
        padding: 4px;
    }

}


@media screen and (min-width: 425px) and (max-width: 768px) {

    .main {
        margin: 0;
    }

    #events-title-header {
        font-size: 1.2em;
    }
    
    #events-title-header h1 {
        padding: 12px 0 12px 0;
    }

    .events-messages-container {
        padding-top: 12px;
    }
    
    .events-container {
        font-size: 1em;
        padding: 4px 8px 4px 8px;
    }
    
    .events-container * {
        padding-left: 3px;
        padding-bottom: 3px;
    }

    #events-message-input-container {
        width: calc(100% - 8px);
        padding: 2px;
    }

}

@media screen and (max-width: 424px) {

    .main {
        margin: 0;
    }

    #events-title-header {
        font-size: 1em;
    }
    
    #events-title-header h1 {
        padding: 8px 0 8px 0;
    }

    .events-messages-container {
        padding-top: 8px;
    }
    
    .events-container {
        font-size: .8em;
        padding: 4px 4px 4px 4px;
    }
    
    .events-container * {
        padding-left: 2px;
        padding-bottom: 2px;
    }

    #events-message-input-container {
        width: calc(100% - 8px);
        padding: 2px;
    }

}