:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.submit {
  outline: none;
}

.sidenav {
  height: 100%;
  width: 196px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #003640;
  overflow-x: hidden;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidenav a {
  margin-bottom: 2%;
  padding: 5%;
  padding-left: 16px;
  text-decoration: none;
  font-size: 2.25em;
  font-weight: 225;
  color: white;
  display: block;
  width: calc(94.75% - 16px);
}

.sidenav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cannon-logo {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.cannon-logo-image {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 196px;
  background-color: #006d82;
}

#cannon-map-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #006d82;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  overflow-y: scroll;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px;
  padding: 4px;
  background-color: lightgray;
  border-radius: 16px;
}

.message-container:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.message-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8px;
  width: 100%;
}

.message-username-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 5px;
  padding-right: 4px;
}

.display-name {
  font-weight: 800;
  padding-right: 8px;
}

.time-posted-message {
  font-size: 0.8em;
}

.filler {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.remove-message-button {
  background-color: white;
  color: #111;
  border: none;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  display: none;
  border: 2px solid lightgray;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.remove-message-button:hover {
  background-color: red;
  color: white;
  border-color: #111;
}

.remove-message-button:active {
  background-color: red;
  color: white;
  border-color: #111;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.message-text {
  font-weight: 200;
}

.message-container img {
  height: 80px;
  /* border: 2px solid #111; */
  border-radius: 16px;
}

.display-name {
  font-weight: 800;
  font-family: sans-serif;
}

.message-input-container {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border-top: 1.5px solid black; */
  /* border-left: 1.5px solid black; */
  background-color: #003640;
}

.message-input-container button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f0f0f0;
  color: black;
  /* border: none; */
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  /* border: 1.5px solid #111; */
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin-left: 8px;
}

.message-input-container button:hover {
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
}

#global-message-input {
  width: calc(100vw - 196px);
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  /* border: 2px solid #111; */
  border-radius: 4px;
  padding: 4px;
}

#global-message-input {
  outline: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidenav {
    width: 144px;
  }
  .sidenav a {
    font-size: 1.75em;
    padding-left: 8px;
    width: calc(94.75% - 8px);
  }
  .main {
    margin-left: 144px;
  }
  .messages-container {
    padding: 6px;
  }
  .message-container {
    margin: 7px;
    padding: 3px;
    border-radius: 16px;
  }
  .message-container img {
    height: 70px;
    border-radius: 12px;
  }
  .message-username-header {
    margin-top: 3px;
    margin-bottom: 5px;
    padding-right: 3px;
  }
  .display-name {
    font-size: 0.9em;
  }
  .time-posted-message {
    font-size: 0.6em;
  }
  .remove-message-button {
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 3px 7px 3px 7px;
  }
  .message-input-container {
    padding: 4px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .sidenav {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .messages-container {
    padding: 4px;
  }
  .message-container {
    margin: 5px;
    padding: 2px;
    border-radius: 12px;
  }
  .message-container img {
    height: 60px;
    border-radius: 12px;
  }
  .message-username-header {
    margin-top: 2px;
    margin-bottom: 5px;
    padding-right: 2px;
  }
  .display-name {
    font-size: 0.8em;
  }
  .time-posted-message {
    font-size: 0.5em;
  }
  .remove-message-button {
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 2px 5px 2px 5px;
  }
  .message-text {
    font-size: 0.8em;
  }
  .message-input-container {
    padding: 3px;
  }
  #global-message-input {
    font-size: 0.8em;
    padding: 2px;
  }
  .message-input-container button {
    display: none;
  }
}

@media screen and (max-width: 424px) {
  .sidenav {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .messages-container {
    padding: 2px;
  }
  .message-container {
    margin: 3px;
    padding: 1px;
    border-radius: 4px;
  }
  .message-container img {
    height: 40px;
    border-radius: 8px;
  }
  .message-username-header {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-right: 1px;
  }
  .display-name {
    font-size: 0.6em;
  }
  .time-posted-message {
    font-size: 0.3em;
  }
  .remove-message-button {
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0 2px 0 2px;
    font-size: 0.3em;
    font-weight: 700;
  }
  .message-text {
    font-size: 0.6em;
  }
  .message-input-container {
    padding: 2px;
  }
  #global-message-input {
    font-size: 0.6em;
    padding: 1px;
  }
  .message-input-container button {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidenav {
    width: 144px;
  }
  .sidenav a {
    font-size: 1.75em;
    padding-left: 8px;
    width: calc(94.75% - 8px);
  }
  .main {
    margin-left: 144px;
  }
  .messages-container {
    padding: 6px;
  }
  .message-container {
    margin: 7px;
    padding: 3px;
    border-radius: 16px;
  }
  .message-container img {
    height: 70px;
    border-radius: 12px;
  }
  .message-username-header {
    margin-top: 3px;
    margin-bottom: 5px;
    padding-right: 3px;
  }
  .display-name {
    font-size: 0.9em;
  }
  .time-posted-message {
    font-size: 0.6em;
  }
  .remove-message-button {
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 3px 7px 3px 7px;
  }
  .message-input-container {
    padding: 4px;
  }
}

.topnav {
  overflow: hidden;
  background-color: #003640;
  height: 64px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .topnav a.icon {
    float: right;
    display: block;
  }
  .iconImage {
    width: 35px;
  }
  .chat-container {
    height: calc(100vh - 64px);
  }
  .sidenav {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .messages-container {
    padding: 4px;
  }
  .message-container {
    margin: 5px;
    padding: 2px;
    border-radius: 12px;
  }
  .message-container img {
    height: 60px;
    border-radius: 12px;
  }
  .message-username-header {
    margin-top: 2px;
    margin-bottom: 5px;
    padding-right: 2px;
  }
  .display-name {
    font-size: 0.8em;
  }
  .time-posted-message {
    font-size: 0.5em;
  }
  .remove-message-button {
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 2px 5px 2px 5px;
  }
  .message-text {
    font-size: 0.8em;
  }
  .message-input-container {
    padding: 3px;
  }
  #global-message-input {
    height: 32px;
    font-size: 0.8em;
    padding: 2px;
  }
}

@media screen and (max-width: 424px) {
  .sidenav {
    /* display: none; */
  }
  .main {
    margin-left: 0;
  }
  .messages-container {
    padding: 2px;
  }
  .message-container {
    margin: 3px;
    padding: 1px;
    border-radius: 4px;
  }
  .message-container img {
    height: 40px;
    border-radius: 8px;
  }
  .message-username-header {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-right: 1px;
  }
  .display-name {
    font-size: 0.6em;
  }
  .time-posted-message {
    font-size: 0.3em;
  }
  .remove-message-button {
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0 2px 0 2px;
    font-size: 0.3em;
    font-weight: 700;
  }
  .message-text {
    font-size: 0.6em;
  }
  .message-input-container {
    padding: 2px;
  }
  #global-message-input {
    height: 32px;
    font-size: 0.6em;
    padding: 1px;
  }
}

@media screen and (min-width: 769px) {
  .topnav {
    display: none;
  }
}

@media screen and (max-width: 768) {
  #global-message-input {
    height: 32px;
  }
}
/*# sourceMappingURL=ui-styles.css.map */